/* Grid container */
.grid {
	position: relative;
}

/* Overlay */
.grid::after {
	content: '';
	background: rgba(202,202,202,0.4);
	opacity: 0;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity $anim-time;
	transition: opacity $anim-time;
}

.view-single .grid::after {
	opacity: 1;
}
