/* Top bar above the grid */
.top-bar {
	background: #fff;
	width: 100%;
	line-height: 1;
	padding: 15px 15px 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
